body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .bad-email {
    border: 3px solid red;
  }

  .good-email {
      border: 3px solid green;
  }



  :root {
    --bg-color: #fff;
    /* changes in css were made her */
    --text-color: #000;
    --sec-color:rgb(253, 224, 224);
    --nav-color: #fff;

  }
  .dark {
    --bg-color: black;
    --text-color:white;
    --sec-color:#001253;
    --nav-color: rgba(252, 177, 177);

  }
